include template.pug
    block main-block
        header.header
            h1.header__title Buenos días, 
                span Gabriela!
            label.txt-gray.txt-m Martes, 15 de Mayo de 2021
        .row.mt-4
            .col-xl-3.col-md-6.col-12.mb-4
                +card({
                    type:"summary-normal",
                    title:"Ventas",
                    label1:"1.5K",
                    label2:"Este mes",
                    chip:{
                        type:"min-icon",
                        color:"purple",
                        icon:"fas fa-shopping-cart"
                    }
                })
            .col-xl-3.col-md-6.col-12.mb-4
                +card({
                    type:"summary-normal",
                    title:"Sucursales",
                    label1:"3",
                    chip:{
                        type:"min-icon",
                        color:"blue",
                        icon:"fas fa-hotel"
                    },
                    footer:true

                })
            .col-xl-3.col-md-6.col-12.mb-4
                +card({
                    type:"summary-normal",
                    title:"Proveedores",
                    label1:"5",
                    chip:{
                        type:"min-icon",
                        color:"yellow",
                        icon:"fas fa-user-tag"
                    },
                    footer:true
                })
                
            .col-xl-3.col-md-6.col-12.mb-4
                +card({
                    type:"summary-normal",
                    title:"Usuarios",
                    label1:"2",
                    chip:{
                        type:"min-icon",
                        color:"green",
                        icon:"fas fa-users"
                    },
                    footer:true
                })
        .row
            .col-xl-6.mb-4
                +card({
                    type:"chart-1",
                    title:"Ventas en el tiempo",
                })
            .col-xl-6.mb-4
                +card({
                    type:"card-dark",
                    title:"Productos",
                })
    