include components/config/inventario.pug
include template.pug
    block main-block
        header.header
            h1.header__title
                span Gabriela,
                label estás viendo la sección de inventario
            label.txt-gray.txt-m Martes, 15 de Mayo de 2021
        .row.col-12.mt-4
            span.txt-bold.txt-gray Categorías
        .cat-container.my-2
            +card({
                type:"card-add"
            })
            +card({
                type:"card-category",
                label:"Calzado"
            })
            +card({
                type:"card-category",
                label:"Ropa"
            })
            +card({
                type:"card-category",
                label:"Adornos"
            })
            +card({
                type:"card-category",
                label:"Hogar"
            })

        .d-flex.my-1
            +card({
                type:"card-normal-data",
                title:"Productos",
                data:inventario
            })


            