include components/sidebar.pug
include components/chips.pug
include components/card.pug
include components/button.pug
include components/table.pug
doctype html
html
    include components/head.pug 
    body
        .sc-main
            +sidebar({})
            .main-content
                block main-block
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/dataviz.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>
        <script src="assets/charts.js"></script>
        


        