include components/config/usuarios.pug
include template.pug
    block main-block
        header.header
            h1.header__title
                span Gabriela,
                label estás viendo la sección de usuarios
            label.txt-gray.txt-m Martes, 15 de Mayo de 2021

        .d-flex.my-4
            +card({
                type:"card-normal-data",
                title:"Usuarios",
                data:usuarios
            })


            