.button--transparent{
    width: 100%;
    background-color: transparent;
    border:0;
    padding: $spacer-xs;
    cursor: pointer;
    color: $gray-normal;
    &:hover{
        background-color: $blue-light;
        border-bottom-left-radius: $spacer-xs;
        border-bottom-right-radius: $spacer-xs;
    }
}

