.card{
    background-color: $white;
    border-radius: $spacer-s;
    height: 100%;
    width: 100%;
   &__header{
       padding: $spacer-s $spacer-s $spacer-xs $spacer-s;
       display: flex;
       align-items: center;
   }
   &__body{
    padding: $spacer-xs $spacer-s $spacer-xxs $spacer-s;
    }
}

.card--dark{
    background-color: $blue-dark !important;
    color: $text-light-1;
}

.card--add{
    border: 2px dotted $gray-core !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: $spacer-xs;
    padding: 0 $spacer-s;
}

.card--category{
    display: flex;
    align-items: center;
    padding: $spacer-xs;
    border-radius: $spacer-xs;
    img{
        height: 3.5rem;
        width: 3.5rem;
        border: 1px solid $gray-core;
        border-radius: $spacer-xs;
    }
}