.chip-user{
    padding: $spacer-xs  $spacer-xs;
    display: flex;
    gap: $spacer-xs;
    align-items: center;
    align-content: center;
    background-color: $blue-light;
    border-radius: $spacer-xs;
    &__img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 2px solid $blue-primary ;
    }

    &__name{
        font-size: $text-s;
    }
}

.chip-min{
    border-radius: $spacer-xxs;
    padding: $spacer-xs + $spacer-xxs;
}

.chip-purple{
    color: $purple-primary;
    background-color: $purple-light;
}

.chip-blue{
    color: $blue-primary;
    background-color: $blue-light;
}

.chip-yellow{
    color: $yellow-dark;
    background-color: $yellow-light;
}

.chip-green{
    color: $green-light-2;
    background-color: $green-light-1;
}