.header{

    &__title{
        font-size: $text-xl;
        margin: 0;
        @include media(desktop-s){
            font-size: $text-s * 2;
        }
        span{
            color: $blue-primary;
        }
    }
}