.sidebar_container{
    position: relative;
    background-color:$white;
    position: fixed;
    width: 60px;
    height: 100vh;
    @include media(desktop-s){
        width: 240px;
    }
}

.sidebar{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: calculateRem($spacer-xxs);
    
    @include media(desktop-s){padding: calculateRem($spacer-m);}
    
    &__brand{
        display: none;
        margin-bottom: calculateRem($spacer-xl);
        margin: auto;
        @include media(desktop-s){
            display: block;
        }
       img{
            max-height:calculateRem($spacer-m + $spacer-xxs);
       }
    }
    &__items{
        list-style: none;
        padding: 0;
        height: 100%;
        span{
           
            display: none;
            @include media(desktop-s){
                display: inline-block;
            }

        }

        .chip-user__name{
            display: none;
            @include media(desktop-s){
                display: inline-block;
            }
        }
    }

    &__item{
        padding: $spacer-xs + 2px $spacer-s;
        border-radius: $spacer-xs;
        cursor: pointer;
        *{
            cursor: pointer;
        }
        &:hover{
            background-color: $gray-secondaary;
            a{
                    color: $black; 
            }
        }
       a{
           text-decoration: none;
           color: $gray-core;
           font-family: $core-font;
           font-size: $text-s;
           label{
               display: none;
               @include media(desktop-s){
                display: inline-block;
            }
           }
           i{
               margin-right: $spacer-xxs;
           }
           
       }
    }
}

