body{
    margin: 0;
    overflow-x: hidden;
    background-color: #f2f4fa;
    *{
        font-family: $core-font;
    }
}
.sc-main{
    margin: 0;
    overflow-x: hidden;
    .main-content{
        margin-left: calculateRem(50px);
        height: 100%;
        padding: $spacer-l $spacer-xl;
        @include media(desktop-s){
            margin: 0 0 0 calculateRem(240px);
        }
    }
}

.txt-gray{
    color: $gray-core;
}
.txt-upp{
    text-transform: uppercase;
}

.txt-s{
    font-size: $text-xs;
}

.mt-4{
    margin-top: 2rem !important;
}

.mt-6{
    margin-top: 4rem !important;
}

.mt-2{
    margin-top: 1rem !important;
}

.mb-4{
    margin-bottom: 2rem !important;
}

.my-4{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.mt-1{
    margin-top: 1rem !important;
}

.my-1{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-5{
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important;
}

.mt-8{
    margin-top: 6rem;
}

.ml-1{
    margin-left: 0.5rem;
}

.mb-4{
    margin-bottom: 1rem;
}
.mb-1{
    margin-bottom: 0.5rem;
}
.my-2{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.ml-auto{
    margin-left: auto;
}
.txt-bold{
    font-weight: bold;
}


.txt-xl{
    font-size: $spacer-m + $spacer-xs;
}

.d-block{
    display:block
}

.txt-a-end{
    text-align: end;
}

.txt-dark-2{
    color: $text-light-2 !important;
}

.chart{
    height:300px;
}

.cat-container{
    display: flex;
    align-items: stretch;
    gap: 1rem;
    flex-direction: row;
    .card{
        height: auto !important;
    }
}

.d-flex{
    display: flex;
}

