
.ul-tbl{
    width: 100%;
    font-family: $core-font;
    text-align: center;
    @include font-size($text-s);
    margin: 0.5rem 0;
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: $spacer-xs;
    &__td{
        border-bottom: $gray-core 1px solid ;
        padding: calculateRem($spacer-xs + 3px);
        white-space: nowrap;
        &--hd{
            border-bottom: $gray-core 4px solid ;
        }
    }
    &__head{
        color: black;
        background-color: rgb(189, 213, 250);
        
    }
    &__body{
        @include font-size($text-xs);
        box-sizing: border-box;
    }
    tr{
        transition: 0.5;
       
    }
}


.ul-tbl__container{
    overflow:auto
}
