@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,600&display=swap');
$primary-fon: 'DM Sans', sans-serif;
$core-font: 'Nunito', sans-serif;

$gray-light:#F7F6F6;
$gray-light-3:#D6D6D6;
$gray-light-4:#C0C0C0;
$gray-normal:#707070;

$gray-core:#ACB3C9;
$gray-secondaary:#ECEFF6;
$black:#000000;
$white:#ffff;

$blue-primary:#1D90F3;
$blue-light:#d7e8f8;
$blue-dark:#1C1647;
$purple-primary:#9C67BA;
$purple-light:#EDE5EF;
$yellow-dark:#9F9C3D;
$yellow-light:#FDF8CE;
$green-light-1:#DEEDD6;
$green-light-2:#9ED67C;
$text-light-1:rgba(236, 248, 255, 0.925);
$text-light-2:rgba(180, 194, 202, 0.925);
$green-1:#006837;
$green-2:#1A9850;
$green-3:#66BD63;
$green-4:#B7D7BD;
$heading-xxs: 14px;
$heading-xs: 20px;
$heading-s: 30px;
$heading-m: 40px;
$heading-l: 50px;
$heading-xl: 60px;
$heading-xxl: 70px;


$text-xxs: 8px;
$text-xs: 12px;
$text-s: 14px;
$text-m: 16px;
$text-l: 18px;
$text-xl: 20px;
$text-xxl: 24px;


$spacer-xxs: 4px;
$spacer-xs: 8px;
$spacer-s: 16px;
$spacer-m: 24px;
$spacer-l: 32px;
$spacer-xl: 40px;
$spacer-xxl: 80px;

