/* Mixins
**********************/
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	line-height: $size * 1.2;
	font-size: calculateRem($size);
}

@mixin box-shadow(){
    box-shadow: 3px 2px 10 20 $gray-light;
}

@mixin box-shadow2(){
    box-shadow: 3px 2px 10 20 $gray-light-1;
}

