
mixin card(config)
    -type = config.type
        case type
            when 'summary-normal'
                .card
                    .card__header
                        +chip({
                            "type":config.chip.type,
                            "color":config.chip.color,
                            "icon":config.chip.icon
                        })
                        label.ml-1.txt-bold=config.title
                    .card__body
                        label.txt-bold.txt-xl=config.label1
                        if config.label2
                            span.txt-s.d-block.txt-gray=config.label2
                    if config.footer
                        .card__footer
                            button.button--transparent ver más
            when 'chart-1'
                .card
                    .card__header
                        label.ml-1.txt-bold=config.title
                    .card__body
                        <div id="chartdiv"  class="chart"></div>
            when 'card-dark'
                .card.card--dark
                    .card__header
                        label.txt-bold=config.title
                        .ml-auto.txt-a-end
                            label.txt-bold.txt-xl.d-block.ml-auto 500
                            span Registros Únicos
                    .card__body
                        .row
                            .col-6
                                span.txt-s.txt-dark-2.mb-1 Distribución
                                label.d-block.mb-1 13% Ropa
                                label.d-block.mb-1 50% Zapatos
                                label.d-block.mb-1 20% adornos
                                label.d-block.mb-1 17% Hogar
                            .col-6 
                                <div id="chartdiv2" class="chart"></div>
            when 'card-add'
                .card.card--add
                    span.txt-gray.txt-s Agregar Categoría
            when 'card-category'
                .card.card--category
                        img(src="assets/image.jpg")
                        span.ml-1=config.label
            when 'card-normal-data'
                .card
                    .card__header
                        label.txt-bold=config.title
                    .card__body
                        +table(config.data)


