mixin chip(config)
    - type = config.type 
    case type
        when "user"
            .chip.chip-user
                img(src=`${config.user_img}` href="").chip-user__img
                label.chip-user__name=config.user_name
        when "min-icon"
            - var color_chip = config.color
            case color_chip
                when "purple"
                    .chip.chip-min.chip-purple
                        i(class=`${config.icon}`)
                when "blue"
                    .chip.chip-min.chip-blue
                        i(class=`${config.icon}`)
                when "yellow"
                    .chip.chip-min.chip-yellow
                        i(class=`${config.icon}`)
                when "green"
                    .chip.chip-min.chip-green
                        i(class=`${config.icon}`)
        
    