head
       title SmartControl
       meta(charset='utf-8')
       meta(http-equiv='X-UA-Compatible', content='IE=edge')
       meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
       link(rel='shortcut icon' href='img/favicon.ico' type="image/x-icon")
       link(rel='stylesheet', href='css/smartcontrol.css')
       script(src="https://kit.fontawesome.com/552ebddad2.js" crossorigin="anonymous")
