mixin sidebar(config)
    .sidebar_container 
        nav.sidebar
            a(href="").sidebar__brand
                img(src="assets/LOGO.png" alt="")
            ul.sidebar__items
                li.sidebar__item.my-5
                    <a href="dashboard.html">
                        <i class="fas fa-chart-pie"></i></i>
                        label Dashboard
                    </a>
                span(title="").txt-gray.txt-upp.txt-s A d m i n i s t r a r
                li.sidebar__item.my-1
                    <a href="inventario.html">
                        <i class="fas fa-cubes"></i>
                         label Inventario
                    </a>   
                li.sidebar__item.my-1
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                        label Ventas
                    </a>   
                li.sidebar__item.my-1
                    <a href="proveedores.html">
                        <i class="fas fa-user-tag"></i>
                        label Proveedores
                    </a>   
                li.sidebar__item.my-1
                    <a href="usuarios.html">
                        <i class="fas fa-users-cog"></i>
                        label Usuarios
                    </a>    
                li.sidebar__item.mt-6
                    <a href="">
                        <i class="fas fa-cog"></i>
                         label Configuración
                    </a>   
                li.sidebar__item.my-1
                    <a href="">
                        <i class="far fa-question-circle"></i>
                        label Centro de Ayuda
                    </a> 
                li.sidebar__item.my-1
                    <a href="">
                        <i class="fas fa-sign-out-alt"></i>
                        label Salir
                    </a>   

                +chip({
                    "type":"user",
                    "user_img":"assets/user.jpg",
                    "user_name":"Gabriela Cabrera"
                })  
                
            