mixin table(config)
    - headers= config.headers
    - data=config.data
    - addclass = config.class || ''
    .ul-tbl__container(class=`${addclass}`)
        table.ul-tbl
            thead
                tr.ul-tbl__head
                    for item,index in headers
                        td.ul-tbl__td.ul-tbl__td--hd=item
            tbody.ul-tbl__body
                for row in config.data
                    tr
                        for data in row
                            case data.type
                                when 'normal'
                                    td.ul-tbl__td=data.data
                                when 'bold'
                                    td.ul-tbl__td.txt-bold=data.data
                                when 'focus'
                                    td.ul-tbl__td.txt-green.txt-bold=data.data
                                when 'url'
                                    td.ul-tbl__td
                                        - urlData = data.url || ''
                                        a(href=urlData, title='').ul-link=data.data
                                when 'chip'
                                    td.ul-tbl__td
                                        case data.data
                                            when 'check'
                                                +chip({
                                                    shape:'circle',
                                                    color:'success',
                                                    label:'',
                                                    icon:'fas fa-check',
                                                    class:'m-auto'
                                                })
                                            when 'danger'
                                                +chip({
                                                    shape:'circle',
                                                    color:'danger',
                                                    label:'',
                                                    icon:'fas fa-exclamation-circle',
                                                    class:'m-auto'
                                                })

                                        
                                default
                                    td.ul-tbl__td
                                        a(href='', title='')