-
    inventario = {
        headers:["Id","Nombre","Precio","Proveedor"],
        data:[
            [{data:'0A-0001',type:'normal'},
             {data:'Blusa Roja',type:'normal'},
            {data:'500.00',type:'normal'},
            {data:'Almacenes Unidos',type:'normal'}],
            [{data:'0A-0001',type:'normal'},
             {data:'Blusa Roja',type:'normal'},
            {data:'500.00',type:'normal'},
            {data:'Almacenes Unidos',type:'normal'}],
            [{data:'0A-0001',type:'normal'},
             {data:'Blusa Roja',type:'normal'},
            {data:'500.00',type:'normal'},
            {data:'Almacenes Unidos',type:'normal'}],
            [{data:'0A-0001',type:'normal'},
             {data:'Blusa Roja',type:'normal'},
            {data:'500.00',type:'normal'},
            {data:'Almacenes Unidos',type:'normal'}]
        ]
        
    }