-
    proveedores = {
        headers:["Id","Nombre","Número de Teléfono","Dirección"],
        data:[
            [{data:'0A-0001',type:'normal'},
             {data:'Jonathan Amador',type:'normal'},
            {data:'+504 97452645',type:'normal'},
            {data:'Tegucigalpa',type:'normal'}],
             [{data:'0A-0001',type:'normal'},
             {data:'Mario Contreras',type:'normal'},
            {data:'+504 97452645',type:'normal'},
            {data:'Tegucigalpa',type:'normal'}],
            [{data:'0A-0001',type:'normal'},
             {data:'Javier Ramirez',type:'normal'},
            {data:'+504 97452645',type:'normal'},
            {data:'Tegucigalpa',type:'normal'}],
             [{data:'0A-0001',type:'normal'},
             {data:'Inversiones María',type:'normal'},
            {data:'+504 97452645',type:'normal'},
            {data:'Tegucigalpa',type:'normal'}]
        ]
        
    }