-
    usuarios = {
        headers:["Id","Nombre","Rol","Estado"],
        data:[
            [{data:'0A-0001',type:'normal'},
             {data:'Jonathan Amador',type:'normal'},
            {data:'Admin',type:'normal'},
            {data:'Activo',type:'normal'}],
             [{data:'0A-0001',type:'normal'},
             {data:'Denis Ordoñez',type:'normal'},
            {data:'Admin',type:'normal'},
            {data:'Activo',type:'normal'}],
            [{data:'0A-0001',type:'normal'},
             {data:'Gabriela Cabrera',type:'normal'},
            {data:'Admin',type:'normal'},
            {data:'Activo',type:'normal'}],
            [{data:'0A-0001',type:'normal'},
             {data:'Jonathan Amador',type:'normal'},
            {data:'Admin',type:'normal'},
            {data:'Activo',type:'normal'}],
        ]
        
    }